.popular_categories{
	width:1325px;
	height:63px;
	background-color:#fff;
	position: relative;
    top: -365px;
    left: 21px;
}
.popular_categories span{
	font-size: 27px;
    max-height: 24px;
    font-family: HelveticaNeue-Bold;
    line-height: 1em; 
    color: #4d4d4d;
}
.all_cart{
	width:1313px;
	height:331.58px;
	background-color: #fff;
	margin: -6px;
	position: relative;
    top: -365px;
    left: 21px;    
}

.fst_cart{
	width:328.25px;
	height:331.58px;
	background-color:  #fff;
	 float: left;
}
.fst_cart img{
	width: 316.25px;
	height: 190.58px;
}
.category_content{
	width:316.25px;
	height:93px;
	position: relative;
	top:-15px;
	left:20px;
	display: block;
}
.fst_cart a{
	text-decoration: none;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #444;
}
a:hover{
	text-decoration: underline;
}
.fst_cart .subcategory_content{
	font-size: 13px;
	font-weight: 400;
	color: #444;
	position: relative;
	top:-10px;
}
.subcategory_content:hover{
	text-decoration: underline;
}
.seat{
	width:1325px;
	height: 64px;
	background: #000;
}