.flyout{
    width: 1349px;
    height: 56px;
    position: relative;
    top: -26px;
    border-bottom: 1px solid #e7e7e7;
}
.flyout ul{
	list-style-type: none;
	text-align: center;
}
.flyout ul li{
	display: inline;
    font-size: 16px;
    font-family: HelveticaNeueCondensed;
    padding: 25px;
    position: relative;
    top: 19px;
    left: -27px;
}
